/**
 * Basic typography style for copy text
 */
body {
  color: #121212;
  font: normal 14px / 1.4 'Guardian Egyptian Text', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Guardian Titlepiece', Georgia, serif;
  font-weight: normal;
  font-style: normal;
  margin: 0 0 10px;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/**
 * Base styles
 */

 body {
   padding: 20px 5%;
 }

 /**
  * Layout
  */

.row {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}


 /**
  * FAQ Block styles
  */

 .search {
  color: #333333;
  font-size: 1.5rem;
  min-height: 2rem;
  outline: none;
  width: 100%;
  padding: 5px;
  border: 1px solid #dcdcdc;
 }

 .search:focus {
   box-shadow: 0 0 20px 0px rgba(20, 138, 210, 0.28);
 }

/**
 * FAQ Block styles
 */

 .faq {
   width: 100%;
 }

 .faq__item {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f6f6f6;
 }

 .faq__question {
  margin-bottom: 0;
 }

 .faq__link {
  color: #121212;
  display: block;
  text-decoration: none;
 }

 .faq__application {
  display: block;
 }
 
 .faq__keywords {
  color: #bdbdbd;
 }

 .faq__keywords--hidden {
   display: none;
 }
