<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Editorial Tools Help</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="http://pasteup.guim.co.uk/0.0.5/css/fonts.pasteup.min.css">
    <link rel="stylesheet" href="/public/styles.css" type="text/css">

  </head>
  <body>
    <script id="questions-template" type="text/html">
      <li class="faq__item">
        <a href="<%= url %>" target="_blank" class="faq__link">
          <h3 class="faq__question"><%= question %></h3>
          <span class="faq__application"><%= application %></span>
          <span class="faq__keywords"><%= keywords %></span>
        </a>
      </li>
    </script>
    <div class="row">
      <input type="text" class="search" id="faq__searchbox" placeholder="Search&hellip;" fjs-search>
    </div>
    <div class="row">
      <ul id="faq__questions" class="faq"></ul>
    </div>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/url-search-params/0.10.0/url-search-params.js"></script>
  <script>
    var queryParams = new URLSearchParams(window.location.search);
    var appParam = queryParams.get('app');
  </script>
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
    crossorigin="anonymous"></script>
  <script src="/public/filter.js"></script>
  <script>
  // Split any keywords with capitalised like `PersonalityQuiz` to display better
  const splitOnCapitals = word => {
    const wordArr = word.match(/[A-Z]*[^A-Z]+/g) || [word];
    return (wordArr.length > 0) ? wordArr.reduce((word, prev) => `${word} ${prev}`) : word;
  }
  const capitalise = word => word.charAt(0).toUpperCase() + word.slice(1).toLocaleLowerCase();

  const formatResponse = responseJson => {
    const formattedResponse = responseJson;
    responseJson.map(function(item, i) {
      formattedResponse[i].keywords = item.keywords.map(keyword => ` ${capitalise(splitOnCapitals(keyword))}`);
    })

    return formattedResponse;
  }

  function applyFilterJs(responseJson) {
      var FJS = FilterJS(responseJson, '#faq__questions', {
        template: '#questions-template',
        filter_on_init: true,
        search: { ele: '#faq__searchbox' }
      });
      if (appParam !== null) {
        FJS.removeRecords({'application.$ne': appParam});
      }
  }
  fetch('/data.json')
    .then(response => response.json())
    .then(formatResponse)
    .then(applyFilterJs);
  </script>

</html>
